<div class="row">
  <div class="span12">
    <h1 class="page-header">Apartments List</h1>
   
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Apartment ID</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>ZipCode</th>
          <th>Neighborhood</th>
        </tr>
      </thead>
      <tbody>
        <% @apartments.each do |apartment| %>
          <tr>
            <td><%= apartment.id %></td>
            <td><%= apartment.address %></td>
            <td><%= apartment.city %></td>
            <td><%= apartment.state %></td>
            <td><%= apartment.zipcode %></td>
            <td><%= apartment.neighborhood %></td>
            <% if session[:user_id] %>
              <td><%= link_to 'Show Details', apartment_url(apartment.id) %></td>
              <td><%= link_to 'Delete', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
              <td>Sign Up!</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
